<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="p-5 mb-4 rounded-3 text-center" style="
    background-image: url('<%= asset_path 'welcome-background.jpg' %>');
    background-size: cover;
    background-position: center center;
    color: white; /* Garante que o texto seja legível sobre a imagem escura */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto para melhorar a legibilidade */
  ">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to the Photo Management App!</h1>
      <p class="fs-4">You'll love managing your Photos with our application. Sign up!</p>
    </div>
  </div>
<% end %>